#dropzone {
	background-color: white;
	border: dashed 3px #cccccc;
	color: #cccccc;
	min-height: 150px;
	padding: 20px;
	width: 1000px;
	text-align: center;
}
#dropzone.dropover {
	background-color: whitesmoke;
	color: #fff;
}

#files:empty::before {
	color: #ccc;
	content: "(ファイルデータはここに表示されます)";
}
#files img {
	border: solid 1px #ccc;
	cursor: pointer;
	height: auto;
	margin: 0 10px;
	max-height: 128px;
	max-width: 128px;
	width: auto;
}

